* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-transform: lowercase; */
}

form {
  width: 60%;
}

.form-container {
  border: 1px solid green;
  padding: 14px;
}

.form-container h1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  margin: 5px 0 15px 0;
  /* display: inline-block; */
}

.group {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 10px;
}

.error {
  font-size: 14px;
  color: rebeccapurple;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}

.form-container li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-container > li > label,
.form-container li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.form-container > li > label + * {
  flex: 1 0 220px;
}

button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #348d44;
  /* background: rgb(156, 156, 156); */
  color: #f2f2f2;
  /* color: #348d44; */
  letter-spacing: 0.2em;
  border-radius: 2px;
}

button:hover {
  background-color: #1f5c2a;
}
/* 
label {
  font-size: 15px;
} */

/* .form-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
} */
/* .form-container li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-container > li {
  flex: 1 0 120px;
  max-width: 220px;
}

.form-container > li > body {
  flex: 1 0 220px;
} */

/* .form-container {
  padding: 20px;
  min-height: 300px;
  min-width: 100px;
  border: 1px solid green;
  text-align: center;
  flex: 1 1 50%;
} */

/* form {
  display: flex;
  flex-direction: column;
} */
